{% extends 'profile/profile_user.html.twig' %}

{% block content %}

    <div class="container">
        <div class="row">
            {{ include('profile/profile_sidebar.html.twig') }}
            <div class="col-md-6 p-5">
                <h2>Редактирование пользователя</h2>
                {{ include('form/form_type.html.twig', { 'form': form }) }}
            </div>
        </div>
    </div>
{% endblock %}