{% extends '@SonataAdmin/standard_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/dropzone.css') }}">
{% endblock %}
{% block sonata_admin_content %}

    <form action=" {{ admin.generateObjectUrl('fileUploadHandler', object) }}" class="dropzone dz-clickable"
          id="my-awesome-dropzone">
    </form>
    <button type="submit" class="btn btn-success" id="qwerty" name="btn_update_and_list"><i class="fa fa-save"></i>Сохранить</button>
    <a href="{{ admin.generateObjectUrl('list', object) }}" class="btn btn-success" id="qwerty" name="btn_update_and_list"><i class="fa fa-list" aria-hidden="true"></i> Вернуться к списку</a>
    <a href="{{ admin.generateObjectUrl('sort', object) }}" class="btn btn-success" id="qwerty" name="btn_update_and_list"><i class="fa fa-sort" aria-hidden="true"></i> Сортировать </a>


{% endblock %}
{% block javascripts %}
    <script src='{{ asset('vendor/jquery/jquery-3.3.1.min.js') }}'></script>
    <script src="{{ asset('js/dropzone.js') }}"></script>
    <script>
        $(document).ready(function () {
            $("#qwerty").click(function (event) {
                let myDropzone = Dropzone.forElement(".dropzone");
                myDropzone.processQueue();
                return false;
            });
        });
        Dropzone.options.myAwesomeDropzone = {
            addRemoveLinks: true,
            clickable: true,
            autoProcessQueue: false
        };
    </script>
{% endblock %}



