{% extends 'base.html.twig' %}
{% block content %}
    {% set mnths = ['','января','февраля','марта','апреля','мая','июня','июля','августа','сентября','октября','ноября','декабря'] %}
    <div class="content">
        <div class="container">
            <div class="row">
                {{ include('single_page_parts/sidebar_for_events.html.twig') }}
                <div class="item-page col-md-9">
                    <div class="breadcrumbs">
                        <ul>
                            {{ include('single_page_parts/breadcamps.html.twig') }}
                            <li>
                                  <span id="breadcamp-active-page">
                                       {{ category }}
                                  </span>
                            </li>
                        </ul>
                    </div>

                    {% for event in events %}
                        <h1>Категория {{ category }}</h1>
                        <div class="event-page-item">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="event-page-head">
                                        <div class="day">{{ event.eventStart|date('d') }}</div>
                                        <div class="month-year">{{ mnths[event.eventStart|date("n")] }}
                                            <br>{{ event.eventStart|date('Y') }} </div>


                                        {% if event.orderLimit > 0 %}
                                            <div class="event-page-booking">
                                                {% if event.eventEnding > date() %}
                                                    <a id="booking-{{ event.id }}" class="booking-link"
                                                       href="{{ path('app_events_booking',{'id': event.id}) }}">Зарегистрироваться</a>
                                                {% else %}
                                                    <p class="booking-disabled" id="booking-disabled-page"> Набор завершен</p>
                                                {% endif %}
                                            </div>
                                        {% else %}
                                            <p class="booking-disabled" id="booking-disabled-page"> Набор завершен</p>

                                        {% endif %}
                                    </div>
                                    <div class="event-page-title">
                                        <a class="module-page-title"
                                           href="{{ path('app_events_single', {'id':event.id}) }}">{{ event.eventName }}</a>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="wrapper">
                                                <img class="module-page-image"
                                                     src="{{ vich_uploader_asset(event, 'imageFile') }}"/>
                                            </div>
                                            {% if event.orderLimit > 0 %}
                                                <div class="limit">
                                                    <p> Осталось {{ event.orderLimit }} мест </p>
                                                </div>
                                            {% else %}
                                                <div class="limit">
                                                    <p> Не осталось мест </p>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="col-lg-9">

                                            <div class="event-page-category">
                                                {{ event.categories[0] }}
                                            </div>
                                            <div class="event-page-text">
                                                <p class="module-page-description">{{ event.shortDescription }}
                                                    <a class="module-page-moreinfo"
                                                       href="{{ path('app_events_single', {'id':event.id}) }}">Поробнее...</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}