{%- block field -%}
    <a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('priorityDown', object) }}">
        <i class="fa fa-arrow-down" aria-hidden="true"></i>
    </a>
{% endblock %}