<div class="footer-menu">
    <ul class="nav navbar">
        {% for root_link in root_links %}
            <li class="nav-item">
                <a id="app-{{ root_link.route }}" href="{{ path('app-dynamic-page', {'route': root_link.route}) }}">{{ root_link.title }}</a>
            </li>
        {% endfor %}
    </ul>
</div>