<nav class="col-md-12 navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#MainmenuToggler"
            aria-controls="MainmenuToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="collapse navbar-collapse nav-fill" id="MainmenuToggler">
        {% for root_link in root_links %}
            <li class="nav-item dropdown">
                <a class="nav-link main-nav text-md-left pl-md-3 pl-lg-0" id="menu-{{ root_link.route }}"
                   href="{{ path('app-dynamic-page', {'route': root_link.route}) }}">{{ root_link.title }}</a>
                {% if root_link.children is not empty %}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% for child in root_link.children %}
                            {% if root_link.pageModule == 'events' %}
                                <a class="dropdown-item main-nav" id="menu-{{ child.route }}"
                                   href="{{ path('app_events_category', {'id': child.route}) }}">{{ child.title }}</a>
                            {% else %}
                                <a class="dropdown-item main-nav" id="menu-{{ child.route }}"
                                   href="{{ path('app-dynamic-page', {'route': root_link.route ~ '/' ~ child.route}) }}">{{ child.title }}</a>
                            {% endif %}


                        {% endfor %}
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>

