{% set mnths = ['','января','февраля','марта','апреля','мая','июня','июля','августа','сентября','октября','ноября','декабря'] %}

{% for one_new in news %}
    <div class="module-page-item">
        <div class="row">
            <div class="col-lg-3">
                <img class="module-page-image" src="{{ vich_uploader_asset(one_new, 'imageFile') }}"/>
            </div>
            <div class="col-lg-9">
                <a class="module-page-title"
                   href="{{ path('app_single_news', {'id':one_new.id}) }}">{{ one_new.title }}</a>
                <p class="module-page-date">{{ one_new.date|date('d') }} {{ mnths[one_new.date|date("n")] }} {{ one_new.date|date('Y') }}</p>
                <p class="module-page-description">{{ one_new.shortDescription }}</p>
            </div>
        </div>
    </div>
{% endfor %}



