{% extends 'base.html.twig' %}

{% block title %}{{ coach.fullName }}{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <div class="row">
                {{ include('single_page_parts/sidebar.html.twig') }}
                <div class="module-single-item col-lg-9">
                    <div class="breadcrumbs">
                        <ul>
                            {{ include('single_page_parts/breadcamps.html.twig') }}
                            <li>
                                  <span id="breadcamp-active-page">
                                        {{ coach.fullName }}
                                  </span>
                            </li>
                        </ul>
                    </div>
                    <h3>{{ coach.fullName }}</h3>
                    <div class="wrapper">
                        <img class='module-single-image' src="{{ vich_uploader_asset(coach, 'imageFile') }}"/>
                    </div>
                    <div class="module-single-description">
                        {{ coach.fullDescription|raw }}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}