{% extends 'base.html.twig' %}

{% block keywords %}{{ page.metaKeywords }}{% endblock %}
{% block description %}{{ page.metaDescription }}{% endblock %}
{% block title %}{{ page.metaTitle }}{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <div class="row">
                {{ include('single_page_parts/sidebar.html.twig') }}
                <div class="item-page col-md-9">
                    <div class="breadcrumbs">
                        <ul>
                            {{ include('single_page_parts/breadcamps.html.twig') }}
                            <li>
                                <span id="breadcamp-active-page">
                                    {{ page.title }}
                                </span>
                            </li>
                        </ul>
                    </div>
                    <h1>{{ page.metaH1 }}</h1>
                    {% if page.pageModule is not empty %}

                        {% if page.pageModule == "news" %}
                            {{ render(controller(
                                'App\\Controller\\NewsController::newsAction'
                            )) }}
                        {% endif %}

                        {% if page.pageModule == "reviews" %}
                            {{ render(controller(
                                'App\\Controller\\ReviewModuleController::showAllReviewAction'
                            )) }}
                        {% endif %}

                        {% if page.pageModule == "coach" %}
                            {{ render(controller(
                                'App\\Controller\\CoachModuleController::showAllCouchAction'
                            )) }}
                        {% endif %}

                        {% if page.pageModule == "contacts" %}
                            {{ render(controller(
                                'App\\Controller\\ContactsModuleController::showAllContactsAction'
                            )) }}
                        {% endif %}

                        {% if page.pageModule == "events" %}
                            {{ render(controller(
                                'App\\Controller\\EventsModuleController::showAllEventsAction'
                            )) }}
                        {% endif %}

                        {% if page.pageModule == "gallery" %}
                            {{ render(controller(
                                'App\\Controller\\GalleryModuleController::showAllGalleryAction'
                            )) }}
                        {% endif %}

                    {% else %}
                        <p>
                            {{ page.content|raw }}
                        </p>
                    {% endif %}


                </div>
            </div>
        </div>
    </div>


{% endblock %}

