{% block body %}
    <div style="background: #CCCCCC;padding: 20px">
        <div class="container" style="background: #f6f6f6; padding: 15px">
            <p style="font-size: 30px">Interactive</p>
                <br>Поступил запрос на программу курса</br>
                <ul>
                    <li>Ф.И.О - {{ user }}</li>
                    <li>Телефон - {{ number }}</li>
                    <li>Емейл - {{ email }}</li>
                    <li>Курс - {{ event }}</li>
                </ul>
        </div>
    </div>
{% endblock %}


