{% if sliders == true %}
    <div id="mainSliderBody" class="carousel slide carousel-fade" data-ride="carousel" data-interval = "{{ app.session.get('mainSliderTimer') }}">
        <div class="carousel-inner">
            {% set count = 0 %}
            {% for slider in sliders %}
                <div class="carousel-item {% if loop.index0  == 0 %} active {% endif %}">
                    <img class="d-block w-100" src="{{ vich_uploader_asset(sliders[loop.index0], 'imageFile') }}">
                    <div class="carousel-caption d-none d-md-block text-light">
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <div class="slider-text">
                                    <h5>{{ slider.name | truncate(64)}} </h5>
                                    <p>{{ slider.text | truncate(128)}} </p>
                                    <a href="{{ slider.link }}">Подробнее ...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#mainSliderBody" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#mainSliderBody" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
{% else %}
    <span></span>
{% endif %}